<div class="row">
  <div class="col-lg-3">

    <app-book-category></app-book-category>

  </div>

  <div class="col-lg-9 mt-5">
    <div class="col-12 col-md-4">
      <div class="thumbnail img-responsive">
        <img src="https://via.placeholder.com/250x300">
      </div>
    </div>

    <div class="col-12 col-md-8">
      <h3>Introduction to python</h3>
      <hr/>
      <p>The descri goes here!</p>
      <hr/>
      <h4>Price: <strong>&#8377;200/-</strong></h4>
      <hr/>
      <h6>qty. avaiable</h6>
      <hr/>
      <a  class="btn btn-success" routerLink="/books">
        <i class="fas fa-arrow-left"></i> Back
      </a>
      <a  class="btn btn-primary ms-1" href="#">
        <i class="fas fa-cart-arrow-down"></i>  Add to Cart
      </a>

    </div>
  </div>
</div>
